.navbackground{
    background-color: #ff82f9f3;
}

body{
    background-color: rgb(190, 190, 190);
}

.block1{
    background-color: white;
    padding: 20px;
}

.input{
    padding-left: 5px;
}

@media (max-width:979px) and (min-width: 768px){
    img{
        width: 300px;
        padding-right: 10px;
        float: left;
    }

    .wraptext{
        word-wrap: break-word;
    }

    
    .image_block > img{
        padding: 0px 10px 15px 10px;
        width: 50%;
        float: left;
    }

    .block1{
        width: 100%;
        float: left;
    }

}

@media only screen and (min-width: 980px){
    .block1{
        width: 65%;
        float: left;
    }

    img{
        width: 300px;
        float: left;
    }

    .wraptext{
        word-wrap: break-word;
    }

    .image_block > img{
        padding: 0px 10px 15px 10px;
        width: 50%;
        float: left;
    }
}